/* color system */
:root {
  /* silly color*/
  color: hsl(19, 38%, 39%);
  --silly-color-base: 19;
  --silly-color: hsla(var(--silly-color-base), 38%, 39%, 100%);

  /* angry color */
  color: hsl(355, 60%, 50%);
  --angry-color-base: 355;
  --angry-color: hsla(var(--angry-color-base), 60%, 50%, 100%);

  /* happy color */
  color: hsl(46, 91%, 43%);
  --happy-color-base: 46;
  --happy-color: hsla(var(--happy-color-base), 91%, 43%, 100%);

  /* sad color */
  color: hsl(185, 100%, 35%);
  --sad-color-base: 185;
  --sad-color: hsla(var(--sad-color-base), 100%, 35%, 100%);

  /* scared color */
  color: hsl(265, 69%, 50%);
  --scared-color-base: 265;
  --scared-color: hsla(var(--scared-color-base), 69%, 50%, 100%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
}

button {
  background-color: #ffffff;
  color: #000000eb;
  border: 1px solid #000000eb;
  padding: 24px;
  min-width: 100px;
  cursor: pointer;
  margin: 1rem;
  font-size: 16px;
  font-family: roboto;
  will-change: transform;
}

/* HOVERS */
#silly:hover {
  background-color: var(--silly-color);
  color: #fff;
  border: none;
}
#angry:hover {
  background-color: var(--angry-color);
  color: #fff;
  border: none;
}
#scared:hover {
  background-color: var(--scared-color);
  color: #fff;
  border: none;
}

#happy:hover {
  background-color: var(--happy-color);
  color: #fff;
  border: none;
}
#sad:hover {
  background-color: var(--sad-color);
  color: #fff;
  border: none;
}
/*
 
   ____  _   _    _    _  _______      _    _   _ ___ __  __    _  _____ ___ ___  _   _ 
  / ___|| | | |  / \  | |/ / ____|    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | |
  \___ \| |_| | / _ \ | ' /|  _|     / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| |
   ___) |  _  |/ ___ \| . \| |___   / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |
  |____/|_| |_/_/   \_\_|\_\_____| /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|
                                                                                        
 
*/

.shake {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  0% {
    transform-origin: bottom right;
    background-color: var(--silly-color);
    border: none;
    color: #fff;
  }

  40% {
    transform-origin: bottom right;
    transform: rotate(10deg);
    background-color: var(--silly-color);
    border: none;
    color: #fff;
  }

  75% {
    transform-origin: bottom right;
    transform: rotate(10deg);
    background-color: var(--silly-color);
    border: none;
    color: #fff;
  }

  80%,
  90%,
  100% {
    transform: translateX(-5px) rotate(10deg);
    transform-origin: bottom right;
    background-color: var(--silly-color);
    border: none;
    color: #fff;
  }

  85%,
  95% {
    transform: translateX(5px) rotate(10deg);
    transform-origin: bottom right;
    background-color: var(--silly-color);
    border: none;
    color: #fff;
  }
}

/*
 
   _____ ____  _____ __  __ ____  _     _____      _    _   _ ___ __  __    _  _____ ___ ___  _   _ 
  |_   _|  _ \| ____|  \/  | __ )| |   | ____|    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | |
    | | | |_) |  _| | |\/| |  _ \| |   |  _|     / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| |
    | | |  _ <| |___| |  | | |_) | |___| |___   / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |
    |_| |_| \_\_____|_|  |_|____/|_____|_____| /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|
                                                                                                    
 
*/

.tremble {
  border: none;
  animation: tremble 0.15s infinite;
  background-color: var(--angry-color);
  color: #f2f2f2;
  padding-left: 5rem;
  padding-right: 5rem;
}

@keyframes tremble {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/*
 
   ____   ___  _   _ _   _  ____ _____      _    _   _ ___ __  __    _  _____ ___ ___  _   _ 
  | __ ) / _ \| | | | \ | |/ ___| ____|    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | |
  |  _ \| | | | | | |  \| | |   |  _|     / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| |
  | |_) | |_| | |_| | |\  | |___| |___   / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |
  |____/ \___/ \___/|_| \_|\____|_____| /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|
                                                                                             
 
*/

.bounce {
  transform-origin: bottom;
  animation: bounce 1.3s cubic-bezier(0.28, 0.84, 0.42, 1);
  color: #fff;
  background-color: var(--happy-color);
  border: none;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.5) translateY(0);

    border: none;
  }
  30% {
    transform: scale(0.9, 1.2) translateY(-80px);
  }
  50% {
    transform: scale(1.2, 0.7) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*
 
   _____ _        _  _____ _____ _____ _   _      _    _   _ ___ __  __    _  _____ ___ ___  _   _ 
  |  ___| |      / \|_   _|_   _| ____| \ | |    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | |
  | |_  | |     / _ \ | |   | | |  _| |  \| |   / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| |
  |  _| | |___ / ___ \| |   | | | |___| |\  |  / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |
  |_|   |_____/_/   \_\_|   |_| |_____|_| \_| /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|
                                                                                                   
 
*/

.flatten {
  animation-name: scale-down-bottom;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.27, 0.88, 0.52, 0.94);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: both;
  animation-fill-mode: none;
  background-color: var(--sad-color);
  color: #fff;
  /* shorthand 
  animation: scale-down-bottom 1s ease 0s 1 normal none;
  */
}
@keyframes scale-down-bottom {
  0% {
    transform: scale(1) translateY(0px);
    transform-origin: 50% 100%;
  }
  30% {
    transform: scale(1.3, 0.2) translateY(0px);
    transform-origin: 50% 100%;
    color: var(--sad-color);
    border: none;
  }
  60% {
    transform: scale(1.3, 0.2) translateY(0px);
    transform-origin: 50% 100%;
    color: var(--sad-color);
  }
  80% {
    transform: scale(1.5, 0.2) translateY(0px);
    transform-origin: 50% 100%;
    color: var(--sad-color);
    border: none;
  }

  100% {
    transform: scale(1) translateY(0px);
    transform-origin: 50% 100%;
  }
}

/*
 
   _   _ ___ ____  _____      _    _   _ ___ __  __    _  _____ ___ ___  _   _ 
  | | | |_ _|  _ \| ____|    / \  | \ | |_ _|  \/  |  / \|_   _|_ _/ _ \| \ | |
  | |_| || || | | |  _|     / _ \ |  \| || || |\/| | / _ \ | |  | | | | |  \| |
  |  _  || || |_| | |___   / ___ \| |\  || || |  | |/ ___ \| |  | | |_| | |\  |
  |_| |_|___|____/|_____| /_/   \_\_| \_|___|_|  |_/_/   \_\_| |___\___/|_| \_|
                                                                               
 
*/
.hide {
  position: relative;
  z-index: -1;
  animation-name: hide;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0, 0.8, 0, 1.01);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: both;
  animation-fill-mode: none;
  background-color: var(--scared-color);
  color: #fff;
  border: none;
}

@keyframes hide {
  0% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(0px) scale(0.8, 1);
  }
  50% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-100px);
  }

  100% {
    transform: translateX(-100px);
  }
}

/* * 
See all the boxes
{
  outline: 1px solid red !important;
} */
